<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css" />
    <link
      rel="stylesheet"
      href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />

    <title>Knowledge Bowl</title>
  </head>
  <body>
    <div id="app">
      <button *on:click="entries = []">New Question</button>
      <div hidden *join="entries"></div>

      <details open> 
        <summary>Leaderboard</summary> 
        <table>
          <thead>
            <tr>
              <th>Team</th>
              <th>Score</th>
              <th>Actions</th>
            </tr>
          </head>
          <tbody id="teams">
    
          </tbody>
        </table> 
      </details>
      <details open> 
        <summary>Entries</summary> 
        <table>
          <thead>
            <tr>
              <th>Teams</th>
              <th>Actions</th>
            </tr>
          </head>
          <tbody id="entries">
    
          </tbody>
        </table>
      </details>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.1.1/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="https://unpkg.com/lucia"></script>
    <script src="/admin.js"></script>
  </body>
</html>
