<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link
      rel="stylesheet"
      href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <title>Player | Room Code: <%= room %></title>
  </head>
  <body>
    <div id="app">
      <input type="hidden" value="<%= room %>" id="room" disabled>
      <h1 *html="score" class="text-center"></h1>
      <input
        *model="teamName"
        type="text"
        id="text"
        name="team-name"
        placeholder="Enter team name"
        class="text-center"
        onkeypress="return /^[a-z\d\-_\s]+$/i.test(event.key)"
      />

      <button
        *on:click="buzz()"
        *bind:disabled="buzzed"
        class="buzzer w-100"
        *html="!buzzed ? `${buzzerIcon} BUZZ` : `Please wait ${seconds} seconds`"
      ></button>
      <p class="text-center mute"><i class="fas fa-check"></i> Connected to Room <code><%= room %></code></p>
      <p class="text-center mute"><i class="fas fa-check"></i> Experimental Lag Compensation <code>ON</code></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="https://unpkg.com/lucia@0.0.9/dist/lucia.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
