<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link
      rel="stylesheet"
      href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />

    <title>Kbowl</title>
  </head>
  <body>
    <div id="app" class="text-center">
      <h1 *html="score" class="text-center">Kbowl</h1>
      <button onclick="create()" class="correct">Create a room</button>
      <button onclick="join()">Join a room</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
