<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link
      rel="stylesheet"
      href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />

    <title>Kbowl - Virtual Verbal Knowledge Bowl</title>
  </head>
  <body>
    <form method="POST" id="form" class="text-center">
      <h1 class="text-center"><img src="/favicon.png" width="100" /><br> Kbowl</h1>
      <button type="submit" class="correct"><i class="fas fa-plus"></i> Create a room</button>
      <button type="button" id="dialog-trigger" onclick="join()">
        <i class="fas fa-sign-in-alt"></i> Join a room
      </button>
    </form>
    <hr />
    <details>
      <summary>What is this?</summary>
      Kbowl is a virtual web application for hosting verbal sessions for knowledge bowl. Kbowl is
      best paired with Zoom for the host to screencast their screen and for the participants to
      watch. You can also have your teams use Discord Voice Channels to communicate privately interteam.
    </details>
    <details>
      <summary>Who works on this?</summary>
      Kbowl is developed by Aiden Bai <code>aiden (dot) bai 05 (at) gmail (dot) com</code> of CHS.
      Feel free to contact me if you find any issues or have any suggestions/questions. You can
      actually view the source here:
      <a href="https://github.com/aidenybai/kbowl">https://github.com/aidenybai/kbowl</a>
    </details>
    <details>
      <summary>What is the status of this project?</summary>
      Kbowl is currently in open beta, there are known issues and server cap is pretty low. Also,
      there are some glaringly obvious websocket related security vulns, so if you do know or find a
      vuln, don't be a jerk and ruin everyone's time, either contribute through the Github or just
      don't break it.
    </details>

    <script src="/index.js"></script>
  </body>
</html>
